input:invalid {
    border: 1px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, black rgb(241, 122, 10));
  }
  
  input:valid {
    border: 2px solid black;
  }
  .all {
    width: 300px;
    line-height: 2;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 15px;
    color: #070707;
    padding-left: 20px ;
  }